* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #2563eb, #1e3a8a);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.profile-img {
    width: 120px;     /* bal’ina */
    height: 120px;    /* dheerina */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
header h1 {
    font-size: 40px;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #2563eb;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a8a;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e3a8a;
    color: white;
    margin-top: 40px;
}
